POSTGRES_DB=support
POSTGRES_USER=support
POSTGRES_PASSWORD=local_support_password
N8N_ENCRYPTION_KEY=replace-with-a-long-local-key
SUPPORT_WEBHOOK_SECRET=replace-with-a-local-secret
N8N_PORT=5678
ENGINE_PORT=8082
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
MAILPIT_PORT=8025
