POSTGRES_DB=reputation
POSTGRES_USER=reputation
POSTGRES_PASSWORD=local_reputation_password
N8N_ENCRYPTION_KEY=replace-with-a-long-local-key
REPUTATION_WEBHOOK_SECRET=replace-with-a-local-secret
N8N_PORT=5678
ENGINE_PORT=8084
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
MAILPIT_PORT=8025
