POSTGRES_DB=content_studio
POSTGRES_USER=content_studio
POSTGRES_PASSWORD=local_content_studio_password
N8N_ENCRYPTION_KEY=replace-with-a-long-local-key
BRIEF_WEBHOOK_SECRET=replace-with-a-local-secret
REVIEW_WEBHOOK_SECRET=replace-with-a-local-secret
N8N_PORT=5678
ENGINE_PORT=8087
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
MAILPIT_PORT=8025
